.nav {
  max-height: 6dvh;
  padding: 14px 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav::-webkit-scrollbar {
  display: none;
}

.navList {
  display: flex;
  list-style: none;
  gap: 12px;
  overflow-x: scroll;
}

.navItemText {
  padding: 4px 8px;
  text-wrap-mode: nowrap;
  border-radius: 10px;
  border: 1px solid var(--burnedOrange);
  color: var(--burnedOrange);
  font-size: 1rem;
  background-color: transparent;
}

.navItemSelected {
  color: var(--primary-color);
  background-color: var(--burnedOrange);
  border: none;
}
