:root {
  font-family: "Open Sans", "Montserrat", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --primary-color: #fffcf8;
  --dark-gray: #55534f;
  --burnedOrange: #e06d5b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* RESPONSIVE STYLES: */
/* Tablet */
@media screen and (min-width: 768px) {
  .navList {
    justify-content: space-between;
  }
  .navItemText {
    padding: 8px 16px;
  }

  .cardInfoContainer {
    flex: 1;
  }

  .headerInfo {
    padding-left: 2rem;
  }

  .headerLogo {
    width: 200px;
    height: 200px;
  }

  .headerTextContainer {
    font-size: large;
  }
}
